@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Mouse+Memoirs&display=swap');
img {
    width:520px;
    height: 250px;
}
.container {
    border:1px solid black;
    padding-left: 50px;
    width:80%;
    height:75%;
    margin: auto;
}
h1 ,h2 {
    font-family: 'Dancing Script', cursive;
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 40pxs;
}

